.wrapper {
	background-image: url("/background.jpg");
	width: calc(100% - 15px);
	height: calc(100% - 15px);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	overflow: hidden;
	.score {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		border-bottom: solid black 1px;
		width: 100%;
	}

	.startTitle {
		position: absolute;
		top: calc(50% - 37px/2);
		left: calc(50% - 265px/2);
	}
}
